In [11]:
import pandas as pd

In [12]:
# Load a dataset from a CSV file
df = pd.read_csv(r"C:\Users\Vaishnavi Kadam\Desktop\Python\ML_KNN\Data.csv")

In [13]:
# Display the first few rows of the dataset
print(df.head())

   ID       Name   Age  Gender   Salary  Target
0   1      Sarah  25.0  Female  50000.0       0
1   2     Ophrah  30.0    Male  60000.0       1
2   3     Torben  22.0    Male  70000.0       0
3   4  Masharahu  35.0    Male  80000.0       1
4   5       Kaya   NaN  Female  55000.0       0

In [14]:
# Check for missing values in the dataset
missing_values = df.isna().sum()
print(missing_values)

ID        0
Name      0
Age       1
Gender    0
Salary    1
Target    0
dtype: int64

In [15]:
# Drop rows with missing values
df_cleaned = df.dropna()
print(df_cleaned)

   ID       Name   Age  Gender   Salary  Target
0   1      Sarah  25.0  Female  50000.0       0
1   2     Ophrah  30.0    Male  60000.0       1
2   3     Torben  22.0    Male  70000.0       0
3   4  Masharahu  35.0    Male  80000.0       1

In [16]:
# Fill missing values in the 'Age' column with the mean of the column
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

   ID       Name   Age  Gender   Salary  Target
0   1      Sarah  25.0  Female  50000.0       0
1   2     Ophrah  30.0    Male  60000.0       1
2   3     Torben  22.0    Male  70000.0       0
3   4  Masharahu  35.0    Male  80000.0       1
4   5       Kaya  28.2  Female  55000.0       0
5   6    Abandon  29.0    Male      NaN       1